.flex1 {
  flex: 1;
  justify-content: flex-end;
  display: flex;

  .launchButton {
    padding: 4px 12px !important;
    margin-bottom: var(--spacing-medium);
    align-self: flex-end;
    border: 1px solid var(--primary-4);
    background-color: transparent;
    text-decoration: none;
    border-radius: 4px;
  }
}
